{% layout "layouts/base.liquid" %}

{% block header %}{% include 'components/includes/_header.liquid' %}{% endblock %}

{% block content %}

<main id="anime">

<section>
    <h1>Anime</h1>
    <p>Here you'll find the best Anime around!</p>
</section>

<ul>
    <li><a href="/anime/seasons" class="btn">Seasons</a></li>
    <li><a href="/anime/genres" class="btn" >Genres</a></li>
    <li><a href="/anime/top" class="btn" >Top Anime</a></li>
</ul>

<img src="https://i.pinimg.com/736x/7c/fa/20/7cfa20793c89db24bc1c14da87aca8a8.jpg">


</main>


{% endblock %}

{% block footer %}{% include 'components/includes/_footer.liquid' %}{% endblock %}