{% layout "layouts/base.liquid" %}

{% block header %}{% include 'components/includes/_header.liquid' %}{% endblock %}

{% block content %}
<main id="manga">
    <h1>Just go back to Anime :( (W.I.P.)</h1>
    <a class="btn" href="/anime">To Anime</a>
</main>


{% endblock %}

{% block footer %}{% include 'components/includes/_footer.liquid' %}{% endblock %}