{% layout "layouts/base.liquid" %}

{% block header %}{% include 'components/includes/_header.liquid' %}{% endblock %}

{% block content %}

<a href="/topanime">To Topanime</a>


{% endblock %}

{% block footer %}{% include 'components/includes/_footer.liquid' %}{% endblock %}