nav.footermenu {
    position: fixed;

    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: var(--background-color);
    z-index: 999;

    ul {
        display: flex;
        justify-content: space-around;
        height: 100%;
        align-items: center;

        li {

            
            & a {
                transition: 0.4s;
                &.active img {
                filter: invert(1);
                filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
                }
            }

            &:hover svg path{
                transition: 0.4s;

                stroke: var(--accent);
                cursor: pointer;
            }


            svg {
                transition: 0.4s;
                padding: 0.5em;
                width: 35px;
                height: 35px;

                background-color: grey;
                border-radius: 10px;
            }
        }

        li:nth-of-type(3):hover a svg path {
            stroke: none;
            fill: var(--accent);
        }

        li:nth-of-type(3) a.active svg path {
            stroke: none;
            fill: var(--accent);
        }

        li:nth-of-type(1):hover a svg path {
            stroke: none;
            fill: var(--accent);

        }

        li:nth-of-type(1) a.active svg path {
            stroke: none;
            fill: var(--accent);
        }
    }

}



@media screen and (min-width: 600px) {
    .footermenu {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        display: none;
    }
}


.footer{
    background:var(--background-color);
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:white;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:white;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:var(--accent);
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }