#indexmain {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 0;
   

    #mainimage {

        h2 {
            font-weight: bold;
            margin-inline: max(1.5rem, ((100% - 75rem) / 2));
            font-size: 1rem;
        }

        .owl-carousel {
            padding: 2em 0;
            .owl-stage-outer {
                .item {
                    display: flex;
                    gap: 3em;
                    padding: 1em;
                    margin:  0 1em;
                    background-color: var(--background-color);
                    border-radius: 10px;
                    color: white;

                    @media (max-width: 600px) {
                        flex-direction: column;
                    }
    
                    img {
                        width: 100%;
                        height: auto;
                        max-width: 250px;

                        @media (max-width: 600px) {
                            max-width: none;
                            max-height: 400px;
                            object-fit: cover;
                        }
                    }
    
                    .carousel-text {
                        display: flex;
                        flex-direction: column;
                        gap: 1.5em;
    
                        h3 {
                            font-size: 2rem;
                        }
    
                        
                    }
                }
            }
        }
    }
    
    #contenthead {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-inline: max(1.5rem, ((100% - 75rem) / 2));
    
    
        h1 {
            font-size: 2rem;
            font-weight: bold;
        }
    }

    #scheduled {
        margin-inline: max(1.5rem, ((100% - 75rem) / 2));
        display: flex;
        flex-direction: column;
        gap: 1em;



        h2 {
            font-weight: bold;
            font-size: 1rem;
        }

        #days {
            display: flex;
            justify-content: space-between;
            background-color: var(--background-color);
            padding: 1em;
            border-radius: 1em;

            @media (max-width: 700px) {
                overflow-x: scroll;
                gap: 1em;
                /* width */
                &::-webkit-scrollbar {
                    width: 10px;
                    border-radius: 0 0 10px 10px;
                }
                
                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                    border-radius: 0 0 10px 10px;
                }
                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: var(--accent);
                    border-radius: 0 0 10px 10px;
                }
                
                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: var(--dotscolor1);
                    border-radius: 0 0 10px 10px;
                }
            }
        

            a {

                min-width: fit-content;

                &.active {
                    color: white;
                    &:before {
                        width: 100%;
                    }
                }
            }
            

        }

        #schedule-titles {

            background-color: var(--background-color);
            padding: 1em;
            border-radius: 1em;


            #loading-schedule {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 1em;
                color: white;
                .loader {
                    width: 15px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    animation: l5 1s infinite linear alternate;
                }
            }

            #schedulelist {
                display: flex;
                flex-direction: column;
                gap: 1em;
                transition: 0.4s;
                li {
                    display: flex;
                    color: white;
                    justify-content: space-between;
                    padding: 0 2em;
                    gap: 1em;

                    img {
                        width: 100px;
                        aspect-ratio: 1/1;
                    }

                    a {
                        font-size: 0.7em;
                        padding: 0.5em 1em;
                        min-width: fit-content;
                        @media (max-width: 450px) {
                            display: none;
                        }
                    }

                }
            }


        }
    }
}



@keyframes l5 {
    0%  {box-shadow: 20px 0 var(--dotscolor1), -20px 0 var(--dotscolor2);background: var(--dotscolor1) }
    33% {box-shadow: 20px 0 var(--dotscolor1), -20px 0 var(--dotscolor2);background: var(--dotscolor2)}
    66% {box-shadow: 20px 0 var(--dotscolor2),-20px 0 var(--dotscolor1); background: var(--dotscolor2)}
    100%{box-shadow: 20px 0 var(--dotscolor2),-20px 0 var(--dotscolor1); background: var(--dotscolor1) }
}
