#indexmain {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 0;
   

    #mainimage {

        h2 {
            font-weight: bold;
            margin-inline: max(1.5rem, ((100% - 75rem) / 2));
            font-size: 1rem;
        }

        .owl-carousel {
            padding: 2em 0;
            .owl-stage-outer {
                .item {
                    display: flex;
                    gap: 3em;
                    padding: 1em;
                    margin:  0 1em;
                    background-color: var(--background-color);
                    border-radius: 10px;
                    color: white;

                    @media (max-width: 600px) {
                        flex-direction: column;
                    }
    
                    img {
                        width: 100%;
                        height: auto;
                        max-width: 250px;

                        @media (max-width: 600px) {
                            max-width: none;
                            max-height: 400px;
                            object-fit: cover;
                        }
                    }
    
                    .carousel-text {
                        display: flex;
                        flex-direction: column;
                        gap: 1.5em;
    
                        h3 {
                            font-size: 2rem;
                        }
    
                        
                    }
                }
            }
        }
    }
    
    #contenthead {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-inline: max(1.5rem, ((100% - 75rem) / 2));
    
    
        h1 {
            font-size: 2rem;
            font-weight: bold;
        }
    }
}

