<header>
  <nav class="header">
    <a href="/">AniNews</a>
    <ul class="headernavmenu">
      <li><a href="/anime">Anime </a></li>
      <li><a href="/manga">Manga </a></li>

    </ul>
  </nav>
</header>