<html lang="en">
<head>
  {% block head %}
    <title>AniNews</title>
  {% endblock %}
  {% if NODE_ENV == "development" %}
    
    {% else %}
    <link rel="stylesheet" href="/main.css">
  {% endif %}
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}

  <!--FONT AWESOME-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

</head>

<body>
  {% block header %}{% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}
  {% if NODE_ENV == "development" %}
  {% comment %} <script type="module" src="/@vite/client" defer></script> {% endcomment %}
  <script type="module" src="http://localhost:5173/src/index.js" defer></script>
{% else %}
<script type="module" src="/main.js" defer></script>
<script type="nomodule" src="/polyfills-legacy.js" defer></script>
<script type="nomodule" src="/main-legacy.js" defer></script>
{% endif %}
</body>
</html>
